---
import Base from "@layouts/Base.astro";
import { Image } from "@astrojs/image/components";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("a-propos", "index");
const { title, mission, valeur } = entry.data;

---

<Base title={title}>
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal">{title}</h1>
      {
        mission?.content && (
            <div class="row col-12 pb-10 pt-16">
          <div class="md:col-6">
            <Image
              class="rounded-lg"
              src="/images/damir-kopezhanov-nC6CyrVBtkU-unsplash.jpg"
              alt={mission.title}
              width={925}
              height={500}
            />
          </div>
          <div class="md:col-6">
            <h2 class="h3 mb-2 mt-4">
              {mission.title}
            </h2>
            <p>{mission.content}</p>
          </div>
        </div>
        )
      }
      <div class="bg-white py-14 sm:py-10">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
          <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">
            {valeur.title}
          </p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
          <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            {valeur.valeurs.map((valeur: any) => (
              <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7">
                  <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary">
                    <img
                      class="mx-auto"
                      alt={valeur.name}
                      src={valeur.icon}
                      width={30}
                      height={30}
                    />
                  </div>
                  {valeur.name}
                </dt>
                <dd class="mt-2 text-base leading-7">{valeur.content}</dd>
              </div>
            ))}
          </dl>
        </div>
      </div>
    </div>
    </div>
  </section>
</Base>
